
html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    margin: 0;
}


header{
    height: 40vh;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    text-shadow: 2px 2px 14px rgb(108, 104, 104);
    position: relative;
}

header h1{
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 3rem;
    color: white;


}

.model-container{
    padding: 0 5rem;
}

.model-container-col{
    height: 50vh;
    padding: 3em 0 0 0;
    margin: 5em 0;
    
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    border: 1px solid rgb(193, 192, 192);
}

model-viewer{
    height: 20em;
    width: 20em;
}

.Hotspot {
 font-size: 1.1em;
}